.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
}

.contact .left-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.contact .right-col {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.contact .right-col .inner-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact .right-col .inner-column .col-right {
    text-align: center;
}

.contact .right-col .col-right ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.contact .right-col .contact-h4,
.contact .right-col .inner-column .col-left h5,
.contact .right-col .inner-column .col-right h5 {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: var(--font-me);
    line-height: 1.2;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 1rem
}
.inner-column .col-left {
    margin-bottom: 1rem
    
    
}
.contact .right-col .contact-p,
.contact .right-col a,
.contact .right-col tel {
    font-family: var(--jost);
    font-weight: 300;
    font-size: var(--font-sm);
    line-height: 1.2;
    color: var(--black-color);
    text-align: center;
    margin-bottom: .5rem
}

.social-icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}
